*{padding:0;margin:0;}

a:hover{text-decoration:none !important}
a{text-decoration:none !important}
ul li{list-style: none;}
.clear{
    clear: both;
}
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/barlow/Barlow-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Josefin';
    src: url('../fonts/josefin_san/JosefinSans-Regular.ttf');
    font-style: normal;
}

body{
    font-family: "Barlow";
    font-size: 14px;
}
a:hover {
    text-decoration: none !important;
}
.with-full{
    width: 100%;
}
.pdl-0{
    padding-left: 0px !important;
}
.pdr-0{
    padding-right: 0px !important;
}
.pdt-10{
    padding-top: 10px;
}
.tac{
    text-align: center;
}
.mt-0{
    margin-top: 0px !important;
}
.mt-30{
    margin-top: 30px;
}
.mb-30{
    margin-bottom: 30px;
}
.pdl-15{
    padding-left: 20px;
}
.pdr-15{
    padding-right: 20px;
}
.pdb-15{
    padding-bottom: 20px;
}
.pdt-30 {
    padding-top: 30px;
}
.pdb-100 {
    padding-bottom: 100px;
}
.clearfix {
    clear: both;
}
.menu-top {
    margin-top: 15px;
	margin-bottom: 5px;
}
.menu-top .address {
    text-align: right;
    font-size: 18px;
    color: #0D4E96;
    font-weight: bold;
    font-family: Josefin;
	margin-bottom: 0px;
}
.menu-top ul {
    text-align: right;
    margin-top: 5px;
	margin-bottom: 5px;
}
.menu-top ul li {
    display: inline-block;
    margin-left: 5px;
}
.menu-top ul li i {
    font-size: 20px;
}
.fixed-top {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.vk-header__bot { background-color: #0d4e96; color: #fff; position: -webkit-sticky; position: sticky; top: 0px; z-index: 11; }
@media (min-width: 992px) {
    .vk-header__bot-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
}
.vk-header__menu { padding-left: 50px; }
/**BEGIN: MENU*!*/
.vk-menu__main {font-weight: bold; text-transform: uppercase; display: none; margin-bottom: 0px}
.vk-menu__main > li > a {
    font-family: Josefin;
    font-size: 16px;
    font-weight: 500;
    color: #f5f5f5;
    line-height: 24px;
    text-transform: uppercase;
}

@media (min-width: 992px) { .vk-menu__main { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

.vk-menu__main > li { padding: 0 35px; }

.vk-menu__main > li > a { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex;
    -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 50px; padding: 10px 0px;
    border-bottom: 2px solid transparent; }

.vk-menu__main > li > a:focus { background-color: #0d4e96; color: #fff; }

.vk-menu__main > li > a ._icon { position: relative; top: -3px;
    font-size: 30px;}

.vk-menu__main > li:first-child { font-size: 24px; line-height: 1; }

.vk-menu__main > li.active a { background-color: #0d4e96; color: #fff; }

.vk-menu__main > li:hover > a { background-color: #0d4e96; color: #fff; border-color: #fd2d1c; }

.vk-menu__main > li:hover > .vk-menu__child { visibility: visible; opacity: 1; }

.vk-menu__child { position: absolute;padding-left: 5px; padding-right: 3px; /*padding: 5px 20px;*/ z-index: 10000000; background: #0D4E96; /*background-color: rgba(13, 78, 150, 0.5);*/ min-width: 200px; visibility: hidden; opacity: 0; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

.vk-menu__child li { position: relative; border-top: 1px solid rgba(255, 255, 255, 0.3); }

.vk-menu__child li:first-child { border-top: none; }

.vk-menu__child li a { display: block; padding: 10px 0px; color: #fff;
    font-size: 14px !important;}

.vk-menu__child li a:hover, .vk-menu__child li a:focus { color: #fd2d1c; }

.vk-menu__child li > ul { top: 0; left: 100%; }

.vk-menu__child li:hover > ul { opacity: 1; visibility: visible; }

/*END: MENU*/
.header {
    position: absolute;
    z-index: 99999;
    width: 100%;
}
.tatsu-header {
    width: 100%;
}
.header-top {
    box-sizing: border-box;
    align-items: center;
    background: #0d4e96;
    border-color: rgba(0,0,0,0);
    font-size: 16px;
    font-weight: 400;
    color: #f5f5f5;
    line-height: 24px;
}
.header-top a{
    color: #f5f5f5;
}
.header-top p {
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.main-nav {
    background: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}
.tatsu-header-row{
    padding: 25px 0px 25px 0px;
}
.navi {
    float: left;
    margin-bottom: 0px;
    position: relative;
}
ul.gt {
    width: 225px;
}
.navi > li {
    float: left;
    margin: 0px 10px 0px 0px;
    padding-right: 20px;
    line-height: 40px;
}
.navi > li a {
    font-family: Josefin;
    font-size: 16px;
    font-weight: 500;
    color: #f5f5f5;
    line-height: 24px;
    text-transform: uppercase;
}
.navi > li > a:hover {
    color: rgba(34,147,215,1);
}
/*.vk-menu__child {*/
/*    display: none;*/
/*    position: absolute;*/
/*    top: 40px;*/
/*    background: rgba(255,255,255,1);*/
/*    width: 100%;*/
/*    z-index: 999999;*/
/*    flex-direction: column;*/
/*    flex-wrap: wrap;*/
/*    align-items: start;*/
/*    padding: 15px;*/
/*    border-top: 1px solid #020202;*/
/*    max-height: 420px;*/
/*    border-radius: 4px;*/
/*}*/
.vk-menu__child li{
    line-height: 24px;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.navi li:hover > ul.vk-menu__child {
    display: block;
    z-index: 9999;
    -webkit-animation: fadeIn 0.7s;
    animation: fadeIn 0.7s;

}
.gt li a {
    color: rgba(49,50,51,1) !important;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-transform: none;
    font-family: Josefin;
}
.gt li a:hover {
    color: rgba(34,147,215,1) !important;
}
.tatsu-header-pointer {
    content: "";
    position: absolute;
    border-color: transparent;
    border-width: 1px 0 0 1px;
    border-style: solid;
    top: -7px;
    left: 15px;
    height: 15px;
    width: 15px;
    background: inherit;
    -webkit-transform: rotate(
        45deg
    );
}
.tatsu-section {
    background-color: rgba(34,147,215,1);
    position: relative;
    width: 100%;
    border-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.tatsu-section-pad {
    padding: 240px 0 120px!important;
}
.tatsu-section-offset-wrap {
    position: relative;
    transform: translateY(-100px);
    z-index: 2;
}
.tatsu-wrap {
    width: 100%;
    /*max-width: 1160px;*/
    margin: 0 auto;
}
.tatsu-row-wrap {
    border-color: transparent;
    border-style: solid;
}
.tatsu-top {
    text-align: center;
    color: rgba(255,255,255,1);
}
.tatsu-top h1 {
    font-family: "Josefin";
    font-weight: 600;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: 5px;
    color: rgba(255,255,255,1);
}
.tatsu-bottom {
    text-align: center;
    color: rgba(255,255,255,0.84);
    text-transform: uppercase;
}
.tatsu-bottom p {
    font-family: "Barlow";
    font-size: 20px;
    line-height: 28px;
}
.tatsu-section-background {
    background-image: url(https://www.bloom-aqua.com/wp-content/uploads/2020/03/mini_indoor.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
.tatsu-section-background, .tatsu-section-background-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.tatsu-bg-lazyloaded {
    opacity: 1;
}
.tatsu-section-overlay {
    background: rgba(0,63,106,0.7);
    mix-blend-mode: normal;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.tatsu-bottom-divider {
    height: 140px !important;
    color: rgba(255,255,255,1);
    line-height: 0;
}
.tatsu-shape-divider svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
}
svg:not(:root) {
    overflow: hidden;
}

.tatsu-shape-over {
    position: absolute;
    width: 100%;
    left: 0;
}
.tatsu-bottom-divider {
    bottom: 0;
    overflow: hidden;
    line-height: 0;
    z-index: 2;
    pointer-events: none;
}
.tatsu-text-inner{
    width: 65%;
    text-align: center;
    color: rgba(105,105,105,1);
    margin-left: auto;
    margin-right: auto;

}
.tatsu-text-inner h4{
    font-size: 17px;
    font-weight: 600;
    line-height: 28px;
    color: #696969;
}
.tatsu-icon_card-icon {
    width: 50px;
    height: 50px;
}
.our-service h3{
    margin-top: 0px;
    font-size: 22px;
    font-weight: 600;
    font-family: Josefin;
    color: #000;
    line-height: 28px;
}
.ras-technology h2 {
    font-family: Josefin;
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    color: #000000;
}
.ras-technology .des {
    font-family: Barlow;
    font-size: 16px;
    color: #72767d;
    font-weight: 400;
    line-height: 22px;
}
.box-img {
    text-align: center;
}
.box-img img{
    width: 100%;
    object-fit: cover;
}
.read-more {
    background-color: rgba(34,147,215,1);
    color: #ffffff;
    text-transform: uppercase;
    padding: 14px 34px;
    border-radius: 32px;
    font-size: 14px;
    line-height: 14px;
}
.out-expertise h2 {
    font-size: 34px;
    font-family: Josefin;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.out-expertise p {
    font-size: 16px;
    font-family: Barlow;
    color: #72767d;
    margin-bottom: 25px;
}
.tatsu-title {
    font-family: Josefin;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}
.tatsu-border {
    width: .9em;
    height: .16em;
    background: rgba(34,147,215,1);
    float: left;
    margin-top: 5px;
    margin-right: 6px;
}
.equipment h2{
    font-family: Josefin;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: -0.03em;
    line-height: 40px;
    color: rgba(0,0,0,1);
}
.equipment .des{
    font-family: Barlow;
    font-size: 16px;
    color: #72767d;
}
.slider-equipment .item p{
    font-family: Barlow;
    font-size: 22px;
    color: #000;
    text-transform: uppercase;
    margin-top: 15px;
}
.slider-equipment .owl-dots {
    margin-top: 20px;
}
.slider-equipment .owl-dot{
    background-color: #c2c3c6;
    border: none;
    margin-right: 5px;
}
.slider-equipment .owl-dot span{
    height: 15px;
    width: 15px;
    display: block;

}
.owl-dots .active {
    background: #59AEE1;
}
.slider-equipment  .owl-nav {
    display: none !important;
}
.article {
    padding-top: 50px;
}
.article img{
    height: 280px;
}
.title-block {
    font-family: Josefin;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    color: rgba(49,50,51,1);
    margin-top: 15px;
    text-align: center;
}
.title-block:hover {
    color: #337ab7;
}
.tatsu-top-divider {
    color: #f5f6fa;
    height: 100px;
    position: relative;
    overflow: hidden;
    line-height: 0;
    z-index: 2;
    pointer-events: none;
}
.get-in-touch .tatsu-section-pad {
    padding: 130px 0px 40px 0px !important;
}
.get-in-touch .tatsu-section-background {
    background-image: url('../images/bgf.jpeg');
}
.get-in-touch .title {
    font-size: 18px;
    font-family: Josefin;
    color: #FFFFFF;
    text-transform: uppercase;
}
.get-in-touch .tatsu-bottom p {
    font-size: 34px;
    font-family: Josefin;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 22px;
    text-transform: none;
    margin-top: 30px;
}
.btn-contact {
    margin-top: 40px;
}
.btn-contact a {
    background-color: #ffffff;
    color: rgba(10,73,110,1);
    text-transform: uppercase;
    padding: 14px 34px;
    border-radius: 32px;
    font-size: 18px;
    font-weight: bold;
    line-height: 14px;
    font-family: Barlow;
}
.footer {
    margin-top: 50px;
    font-family: Josefin;
}
.footer h6 {
    font-size: 20px;
    line-height: 26px;
    color: #0D4E96;
    font-weight: 600;
}
.footer .des {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #72767d;
}
.menu-mobile {
    color: #fff;
    text-align: right;
    font-size: 22px;
    cursor: pointer;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    font-family: Josefin;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
    text-transform: uppercase;
    padding-left: 20px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: inline-block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 60px;
}
.vk-menu__child-mobile {
    display: none;
}
.vk-menu__child-mobile a {
    font-size: 16px;
    text-transform: none;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
.content-about {
    font-size: 16px;
}
.content-about img {
    max-width: 100%;
    height: auto;
}
.content-about h1, .content-about h2 {
    font-family: Josefin;
}
#be-content {
    overflow-x: hidden;
}
.title-service {
    font-style: normal;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 40px;
    color: rgba(0,0,0,1);
    font-family: Josefin;
}
.border-bot hr{
    height: 4px;
    width: 10%;
    background: rgba(34,147,215,1);
}
.get-more-info {
    margin-top: 50px;
    text-align: center;
}
.get-more-info a{
    color: #fff;
    background-color: #2293d7;
    font-size: 16px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 25px;
    font-style: normal;
    padding: 16px 30px;
}
.equipment-content h4{
    font-family: Josefin;
    color: #000;
    line-height: 28px;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
}
.d-flex {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}
.list-item {
    width: 100%;
}
.box-item {
    /*display: inline-block;*/
    width: 33%;
    /*height: auto;*/
    padding: 0px 14px;
    margin: 0 0 30px!important;
}
.name-equipment {
    font-family: Josefin;
    font-size: 22px;
    font-weight: bold;
    color: #2293d7;
    margin-top: 10px;
}
.contact-content h2{
    font-size: 36px;
    color: #0D4E96;
    font-family: Josefin;
    line-height: 40px;
    font-weight: 600;
    margin-top: 0px;
}
.md-form {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: Barlow;
}
.md-form .form-control {
    height: auto;
    padding: 15px;
    margin: 0 0 .5rem 0;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none !important;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
.md-form input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: 0;
}
.md-form textarea.md-textarea {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.info-contact, .des-contact {
    font-size: 16px;
    font-family: Barlow;
}
.list-item .box-item .box-img {
    position: relative;
}
.list-item .box-img {
    overflow: hidden;
}
.list-item .box-img:hover {
    box-shadow: 0 30px 65px rgb(0 0 0 / 25%);
    outline: none;
}
.list-item .box-img img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    object-fit: cover;
    height: 269px;
}
.list-item .box-img a:hover img{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.list-item .box-img .item-box:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.43);
    pointer-events: none;
}
.bg-tech .tatsu-section-background {
    background-image: url(https://www.bloom-aqua.com/wp-content/uploads/2020/01/0.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
.bg-service .tatsu-section-background  {
    background-image: url(https://www.bloom-aqua.com/wp-content/uploads/2020/02/Webp.net-compress-image-1-1.jpg);
}
.content-problem h3 {
    text-align: center;
    font-family: Josefin;
    color: #0D4E96;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 30px;
}
.problem-box {
    width: 100%;
    float: left;
    /*margin-top: 40px;*/
}
.list-problem {
    padding: 0% 12% 10% 10%;
}
.list-problem .problem-item {
    width: 48%;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.img-icon {
    width: 50px;
    height: 50px;
}
.img-100 {
    width: 100%;
}
.list-solution {
    padding: 6% 15% 10% 10% !important;
}
.problem-item .name {
    font-family: Josefin;
    color: #000;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
}
.problem-item .box-content {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #72767d;
}
.content-tech p{
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #72767d;
}
.content-tech h1, h2, h3, h4, h5, h6 {
    font-family: Josefin;
    font-weight: bold;
}
.title-solution {
    font-size: 60px;
}
.content-tech {
    margin-bottom: 50px;
}
.content-tech img{
    max-width: 100%;
}
.btn-send-contact .btn-primary{
    /*font-size: 16px;*/
    /*text-transform: uppercase;*/
    /*font-weight: 600;*/
    /*background-color: #0D4E96;*/
    padding: 10px 30px;
    background: #0D4E96;
    color: #fff;
    font-size: 17px;
    border-radius: 0;
}
.contact-info {
    padding-top: 13px;
    font-size: 16px;
    font-family: Barlow;
}
.contact-info p {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 16px;
    font-family: Josefin;
    color: #0D4E96;
}
.contact-bg .tatsu-section-background {
    background-image: url(https://www.bloom-aqua.com/wp-content/uploads/2020/01/jet-kim-_w-VVA8PrC0-unsplash.jpg);
}
.img-logo {
    width: 50%;
    /*height: 42px;*/
}
